<nav class="navbar navbar-expand navbar-light bg-light px-2 ">

    <a class = "navbar-brands px-4"href="#"><img src="/assets/logonew.jpg" alt="Logo" width="100" height="50" class="d-inline-block align-text-top"></a>
  
    <div class = "side-nav-button p-2 me-3 text-dark"(click)="SideNavToggle()">
      <i class="fa-solid fa-bars"></i>
    </div>
  
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" (click)="toggleDropdown()">
            <img [src]="selectedCountryImage" alt="Flag" width="50" height="30">
          </a>
          <ul class="dropdown-menu dropdown-menu-light" [ngClass]="{ 'show': isDropdownOpen }">
            <li *ngFor="let country of countries">
              <a class="dropdown-item" href="#" (click)="selectCountry(country)">
                <img [src]="country.image" alt="Flag" width="50" height="30">
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  
    <form class="d-flex me-5">
      <!-- <input class="form-control me-2" type="search" placeholder="Timezone Convertor"> -->
      <button type="button" class="btn btn-light">Timezone Convertor</button>
    </form>

    
  
    <div class="profile-logo dropstart">
      <button class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
      Dheeraj Kumar Yadav
    </button>
    <ul class="dropdown-menu dropdown-menu-light">
      <li><a href="#" class="dropdown-item">Sign Up</a></li>
      <li><a href="#" class="dropdown-item">Log In</a></li>
      <li><a href="#" class="dropdown-item">Your Profile</a></li>
      <li><a href="#" class="dropdown-item">Log Out</a></li>
    </ul>
    </div>
  </nav>

