nav{
    height:100%;
}

.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.side-nav-button:hover{
    background-color: rgb(232, 242, 242);
    border-radius: 30%;
}

.navbar-collapse{
    margin-left: 20px;
}

.btn {
    border-color: darkgrey;
}

.navbar-brands{
    margin-left: 10px;
}
.navbar{
    background-color: rgb(255, 255, 255);
}

.compsheet{
    font-size: 1.5rem;
    margin-left: 50px;
    color:rgb(42, 41, 41);
}
.compsheet:hover{
    background-color: rgb(232, 242, 242);
    border-radius: 30%;
}

.application{
    font-size: 1.5rem;
    margin-left: 10px;
    color: rgb(42, 41, 41);
    cursor: pointer;
}
.application:hover{
    background-color: rgb(232, 242, 242);
    border-radius: 30%;
}

.container{
    display: flex;
    margin-left: 420px;
}