.black-border{
    border: 1px solid rgb(140, 22, 22);
}


app-header{
    position: fixed;
    width: 100%;
    top: 0%;
    height: 4rem;
    z-index: 2;
}

main{
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;

}

app-sidepanel{
    position: absolute;
    left: 0rem;
    width: 60px;
    height: calc(100vh - 4rem);
    box-shadow: rgb(184, 183, 183);
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(146, 144, 144);
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.app-sidepanel-open{
    width: 250px;
}

.display-area{
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
    transition: left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink{
    width: calc(100% - 250px);
    left: 250px;
} 


 
