<div class="container">
<a class = "navbar-brands  m-5 px-4"href="#"><img src="/assets/logonew.jpg" alt="Logo" width="100" height="50" class="d-inline-block align-text-top"></a>
</div>
<div class="container-fluid">
<div class="side-nav-content ">
  <ul class="nav-list " [ngClass]="{'nav-list-open':sideNavStatus}">
    <li class="nav-list-item" routerLinkActive="list-item-active">
      <i class="fa-solid fa-gauge-high"></i>
      <span class="">
        <a routerLink="/dashboard">dashboard</a>
      </span>
    </li>
    <li class="nav-list-item" >
      <i class="fa-solid fa-calculator"></i>
      <span class="">
        <a href="#">compsheet</a>
      </span>
    </li>
    <li class="nav-list-item" >
      <i class="fa-solid fa-circle-question"></i>
      <span class="">
        <a href="#">my query</a>
      </span>
    </li>
    <li class="nav-list-item"  routerLinkActive="list-item-active">
      <i class="fa-solid fa-chart-pie"></i>
      <span class="">
        <a routerLink="/graph">reports</a>
      </span>
    </li>
  </ul>
</div>
</div>

  
