<div class="container-fluid">
   
    <div class="container">
        
        <div class="box">
            <i class="fa-solid fa-user-group"></i>
            <button class="btn" routerLink=""><h4>EMPLOYEES</h4></button>
            
        </div>

        
        <div class="box">
            <i class="fa-solid fa-people-group"></i>
            <button class="btn" routerLink="/clients"><h4>CLIENTS</h4></button>
            
        </div>

        
        <div class="box">
            <i class="fa-solid fa-basket-shopping"></i>
            <button class="btn" routerLink="/msps"><h4>MSPS</h4></button>
            
            
        </div>

        
        <div class="box">
            <i class="fa-solid fa-house-chimney"></i>
            <button class="btn" routerLink="/list"><h4>VMS</h4></button>
            
        </div>
    </div>

    <div class="container mt-5 ">
        <h4>User Logins<i> Last 30 Days</i></h4>
        <app-graph></app-graph>
    </div>
</div>



